html {
  box-sizing: border-box;
}
:root {
  --base-color: #baef00;
  --base-color-hover: #d9ff58;
  --base-color-active: #c0f041;
  --border-color: #e3e3e3;
  --placeholder-color: #8d8d8d;
  --black-color: #263238;
  --price-color: #6c6c6c;
  --transition-duration: 0.5s;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: var(--black-color);
  background-color: white;
}
img {
  max-width: 100%;
  height: auto;
}
li {
  list-style-type: none;
}
.logo {
  display: block;
  width: 155px;
}
.menu__list {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0;
  padding-left: 0;
}
.menu__link {
  color: white;
  outline: none;
  transition: color var(--transition-duration),
    background-color var(--transition-duration);
}
.menu__link:focus {
  background-color: var(--base-color);
  color: black;
  outline: none;
}
.menu__link:hover {
  color: var(--base-color-hover);
}
.menu__link:active {
  color: var(--base-color-active);
}

.default-link {
  color: var(--black-color);
  text-decoration: underline;
  transition: color var(--transition-duration),
    background-color var(--transition-duration);
}
.default-link:focus-visible {
  background-color: var(--base-color);
  outline: none;
}
.default-link:hover {
  color: var(--base-color-hover);
}
.default-link:active {
  color: var(--base-color-active);
}
.btn {
  padding: 11px 47px;
  border-radius: 12px;
  background-color: var(--base-color);
  color: var(--black-color);
  border: none;
  outline: 1px solid transparent;
  outline-offset: 2px;
  transition: outline-color var(--transition-duration),
    background-color var(--transition-duration),
    transform var(--transition-duration);
  cursor: pointer;
}

.btn:focus {
  outline-color: var(--base-color);
}
.btn:hover {
  color: var(--base-color-hover);
  transform: scaleY(1.2);
}

.btn:active {
  color: var(--base-color-active);
}
.text-field {
  padding: 11px 16px;
  border-radius: 12px;
  border: 1px solid var(--border-color);
  transition: border-color var(--transition-duration);
  outline: none;
}
.text-field::placeholder {
  color: var(--placeholder-color);
}
.text-field:focus {
  border-color: var(--base-color);
}
.subtitle {
  margin: 0;
  text-align: center;
  font-size: 34px;
  font-weight: 700;
}
.callback-form {
  display: flex;
  gap: 16px;
}
.callback-form__inp {
  flex-basis: 288px;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  border: 1px solid var(--border-color);
  /* overflow: hidden; */
}
.card__img {
  display: block;
  flex-shrink: 0;
  height: 180px;
  width: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  object-fit: contain;
}
.card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 100%;
  padding: 15px;
}
.card__body-top {
  margin-bottom: 22px;
}
.card__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 700;
}
.card__price {
  font-size: 18px;
  font-weight: 700;
  color: var(--price-color);
}
.card__btn {
  width: 100%;
}
.card--big {
  position: relative;
  border: none;
  height: 380px;
}
.card__img--big {
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}
.card__body--big {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  align-items: flex-start;
}

.card__price--big {
  color: white;
}
.card__btn--big {
  width: initial;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  background-color: var(--black-color);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: block;
  padding: 12px;
  background-color: var(--base-color);
  transition: opacity var(--transition-duration),
    background-color var(--transition-duration);
  outline: none;
}
.header__logo:focus {
  opacity: 0.8;
}
.header__logo:hover {
  background-color: var(--base-color-hover);
}
.header__logo:active {
  background-color: var(--base-color-active);
}

.hero__container {
  display: flex;
  padding: 80px 15px;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.hero__container::after {
  content: "";
  display: block;
  flex-basis: 470px;
  height: 375px;
  background-image: url(../img/hero.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__content {
  flex-basis: 490px;
}
.hero__title {
  margin: 0 0 20px;
  font-size: 34px;
}
.hero__desc {
  max-width: 360px;
  margin: 0 0 40px;
  font-size: 20px;
}
.callback {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.callback::before {
  content: "";
  display: block;
  background-image: url(../img/callback-left.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.callback__right {
  padding: 75px 50px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(../img/callback-right.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.callback-title {
  font-size: 0;
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.callback__desc {
  margin-top: 0;
  min-width: 424px;
  font-size: 20px;
  color: white;
}
.catalog {
  padding: 80px 0;
}
.catalog__subtitle {
  margin-bottom: 60px;
}
.catalog__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.catalog__item--big {
  grid-column: span 2;
}
.catalog__card {
  height: 100%;
}
.footer {
  display: flex;
  justify-content: center;
  padding: 23px 15px;
  background-color: var(--border-color);
}
.footer__logo {
  opacity: 50%;
}
